<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="'layout/patternLayout'">
	
<head></head>

<body class="skin-blue">
	<div class="wrapper">
		<section class="content" layout:fragment="content">
			<th:block th:include="fragments/MensageSuccess"></th:block>
			<form th:object="${session}" method="post" th:action="@{/session/register}">
			 	<th:block th:include="fragments/MensagesErrorValidation"></th:block>
				<div class="row">
					<div class="col-sm-5">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">New Session</h3>
							</div>
							<!-- /.box-header -->	
								<div class="box-body">
										<div class="row">
											 <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('team')} ? has-error">
													<label class="control-label" for="inputSuccess"><i
														class="fa fa-users"></i> Team:</label> <select class="form-control"
														id="inputSuccess" th:field="*{team}">
														<option value="" label="Select team … "
															selected="selected">Select team …       </option>
														<option th:each="team : ${teams}"
															th:value="${team.id}" th:text="${team.name}">Senior</option>
													</select>
											</div>
											
												<div class="form-group  col-sm-4" th:classappend="${#fields.hasErrors('date')} ? has-error">
												<label class="control-label" for="inputSuccess"><i
													class="fa fa-calendar"></i> Date:</label>
												<div class="input-group date form_date "
													data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
													<span class="input-group-addon"><span
														class="glyphicon glyphicon-th"></span> </span> <input
														class="form-control" size="16" type="text"
														th:field="*{date}" placeholder="09-11-2018" />
														
												</div>
											</div> 
											
												<!-- time Picker -->
									                  <div class="bootstrap-timepicker col-sm-4" th:classappend="${#fields.hasErrors('start')} ? has-error">
									                    <div class="form-group">
									                      <label><i class="fa fa-clock-o"></i> Start:</label>
									                      <div class="input-group">
									                        <input type="text" class="form-control timepicker" th:field="*{start}"/>
									                        <div class="input-group-addon">
									                          <i class="fa fa-clock-o"></i>
									                        </div>
									                      </div><!-- /.input group -->
									                    </div><!-- /.form group -->
									                  </div>
									                  
									                  <!-- time Picker -->
									                  <div class="bootstrap-timepicker col-sm-4" th:classappend="${#fields.hasErrors('end')} ? has-error">
									                    <div class="form-group">
									                      <label><i class="fa fa-clock-o"></i> End:</label>
									                      <div class="input-group">
									                        <input type="text" class="form-control timepicker" th:field="*{end}"/>
									                        <div class="input-group-addon">
									                          <i class="fa fa-clock-o"></i>
									                        </div>
									                      </div><!-- /.input group -->
									                    </div><!-- /.form group -->
									                  </div>
									                  
											<div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('site')} ? has-error">
													<label class="control-label" for="inputSuccess"><i
														class="fa fa-map-marker"></i> Site:</label> <select class="form-control"
														id="inputSuccess" th:field="*{site}">
														<option value="" label="Select a site … "
															selected="selected">Select site …       </option>
														<option th:each="site : ${sites}"
															th:value="${site.id}" th:text="${site.name}">Site</option>
													</select>
											</div>
											<div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('mainFocus')} ? has-error">
										<input type = "hidden" th:field="*{id}">
										<label class="control-label" for="inputWarning"><i
															class="fa fa-dot-circle-o"></i> Main focus:</label>
										<div class="sg-field-action" >
											<select id="estilo" class="form-control js-example-basic-multiple" multiple="multiple" th:field="*{mainFocus}">
													<option th:each="trainingType : ${trainingTypes}" 
															th:value="${trainingType}" th:text="${trainingType.description}">U-19</option>
																	
											</select>
						
										</div>
									</div>
									<div class="form-group col-sm-12" >
										<input type = "hidden" th:field="*{id}">
										<label class="control-label" for="inputWarning"><i
															class="fa fa-group"></i>Registrants:</label>
										<div class="sg-field-action" >
											<select id="estilo" class="form-control js-example-basic-multiple" multiple="multiple">
															<option th:each="registrant : ${registrants}" 
															th:value="${registrant.id}" th:text="|${registrant.name} ${registrant.surname}|">U-19</option>
																	
											</select>
						
										</div>
									</div>
												
										</div>
									</div>
								<!-- /.box-body -->
								<div class="box-footer">
									<div class="pull-right">
										<a th:href=@{/gameday/register} class="btn btn-default">
											<i class="fa fa-eraser"></i> Clean
										</a>
										<button type="submit" class="btn btn-primary">
											<i class="fa fa-save"></i> Save
										</button>
									</div>
									<a th:href="@{/club/dashboard}" class="btn btn-default">
										<i class="fa fa-times"></i> Close
									</a>
								</div>
								
						</div>
						<!-- /. box -->
					</div>
					<div class="col-md-7">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">You should plan training for these players or this team</h3>
							</div>
							<div class="box-body">
								<div class="row">
										<div class="col-md-6">
							              <!-- Primary box -->
							              <div class="box box-solid box-primary">
							                <div class="box-header">
							                  <h3 class="box-title">Individual training</h3>
							                  <div class="box-tools pull-right">
							                    <button class="btn btn-primary btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
							                  </div>
							                </div>
							                <div class="box-body">
							                    <div class="box-body no-padding">
								                  <table th:if="${neddTraining}" class="table table-condensed">
								                    <tr >
								                      <th style="width: 10px">#</th>
								                      <th>Player</th>
								                      <th>Team</th>
								                      <th class="pull-right">Skills to improve</th>
								                    </tr>
								                    <tr  >
								                      <td >1.</td>
								                      <td >Joao Ricardo</td>
								                      <td >Junior</td>
								                      <td>
								                      <span class="badge bg-red pull-right">Shotting </span>
								                      <span class="badge bg-red pull-right">Passing</span>
								                      </td>
								                    </tr>
								                    <tr  >
								                      <td >2.</td>
								                      <td >Mateuz Kowalski</td>
								                      <td >U-17</td>
								                      <td>
								                      <span class="badge bg-red pull-right">Penalties </span>
								                      <span class="badge bg-red pull-right">Dribbling</span>
								                      </td>
								                    </tr>
								                    <tr  >
								                      <td >3.</td>
								                      <td >David Milk</td>
								                      <td >Senior</td>
								                      <td>
								                      <span class="badge bg-red pull-right">Corner taking </span>
								                      <span class="badge bg-red pull-right">Crossing</span>
								                      </td>
								                    </tr>
								                  </table>
								                  <p th:unless="${neddTraining}" >Nathing was found </p>
								                </div><!-- /.box-body -->
							                </div><!-- /.box-body -->
							              </div><!-- /.box -->
							            </div><!-- /.col -->
										<div class="col-md-6">
							              <!-- Primary box -->
							              <div class="box box-solid box-primary">
							                <div class="box-header">
							                  <h3 class="box-title">Collective training</h3>
							                  <div class="box-tools pull-right">
							                    <button class="btn btn-primary btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
							                  </div>
							                </div>
							                <div class="box-body">
							                   <div class="box-body no-padding">
								                   <table th:if="${neddTraining}" class="table table-condensed">
								                    <tr>
								                      <th style="width: 10px">#</th>
								                      <th style="width: 40%">Players</th>
								                      <th>Team</th>
								                      <th class="pull-right">Skills to improve</th>
								                    </tr>
								                    <tr th:if="${neddTraining}">
								                      <td>1.</td>
								                      <td>
								                      	<span>Meda Fox, </span>
								                      	<span>Mario Antonio, </span>
								                      	<span>Antonio Ronaldo</span>
								                      </td>
								                      <td>U-17</td>
								                      <td>
									                      <span class="badge bg-red pull-right">Fitness </span>
									                      <span class="badge bg-red pull-right">Aerial battles</span>
								                      </td>
								                    </tr>
								                    
								                  </table>
								                  <p th:unless="${neddTraining}" >Nathing was found </p>
								                </div><!-- /.box-body -->
							                </div><!-- /.box-body -->
							              </div><!-- /.box -->
							            </div><!-- /.col -->
								</div>
								
								<div class="row">
										<div class="col-md-12">
							              <!-- Primary box -->
							              <div class="box box-solid box-primary">
							                <div class="box-header">
							                  <h3 class="box-title">Team traning</h3>
							                  <div class="box-tools pull-right">
							                    <button class="btn btn-primary btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
							                  </div>
							                </div>
							                <div class="box-body">
							                   <div class="box-body no-padding">
								                 <table th:if="${neddTraining}" class="table table-condensed">
								                    <tr >
								                      <th style="width: 10px">#</th>
								                      <th>Team</th>
								                      <th class="pull-right">Skills to improve</th>
								                    </tr>
								                    <tr>
								                      <td>1.</td>
								                      <td>U-12</td>
								                     
								                      <td><span class="badge bg-red pull-right">Attack</span></td>
								                    </tr>
								                    <tr>
								                      <td>2.</td>
								                      <td>Senior</td>
								                     
								                      <td><span class="badge bg-red pull-right">Defence</span></td>
								                    </tr>
								                    
								                  </table>
								                  <p th:unless="${neddTraining}" >Nathing was found </p>
								                </div><!-- /.box-body -->
							                </div><!-- /.box-body -->
							              </div><!-- /.box -->
							            </div><!-- /.col -->
								</div>
							</div>
							<!-- /.box-body -->
							
						</div>
						<!-- /. box -->
					</div>
					
				</div>
			</form>
		</section>

	</div>
</body>

</html>
