<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/patternLayout}">
<head></head>

<body class="skin-blue">
	<div class="wrapper">
		<section class="content" layout:fragment="content">
		
				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Player details</h3>
							</div>
							<!-- /.box-header -->

							<div class="box-body">

								<div class="col-sm-5">
							<div class="photo_in_details">
							  	<img th:if="${player.photo}" th:src="@{/photos/} + ${player.photo}"
									class="img-circle sg-img-in-details"/>
								<img th:unless="${player.photo}" th:src="@{/dist/img/avatar5.png}"
									class="img-circle sg-img-in-details" alt="User Image"/><br/><br/>
								<label th:text="${player.name}+' '+${player.surname}">
									Alexander Pierce
								</label>
							</div>
							<br/>
							<label class="control-label" for="inputError"> Gender:</label> <span th:if="${player.gender}" th:text="${player.gender.description}"></span><br/>

							<label class="control-label" for="inputSuccess"> Nacionality:</label> <span th:text="${player.nacionality}"></span><br/>

							<label class="control-label" for="inputSuccess"> Date of Born:</label> <span th:text="${player.dateOfBorn}"></span><br/>
							
							<label class="control-label" for="inputWarning"> Team:</label> <span th:text="${player.team.name}"></span><br/>
							
							<label class="control-label" for="inputSuccess"> Contract end at:</label> <span  th:text="${player.contractEnd}"></span><br/>
						</div>
						<div class="col-sm-7">

							<label class="control-label" for="inputError"> Document type:</label> <span th:text="${player.documentType}"></span><br/>

							<label class="control-label" for="inputSuccess"> Document number:</label> <span th:text="${player.documentNumber}"></span><br/>
							
							<label class="control-label" for="phone"> Phone:</label> <span th:text="${player.phoneNumber}"></span><br/>

							<label class="control-label" for="cellPhone"> Cell phone:</label> <span th:text="${player.cellPhoneNumber}"></span><br/>

							<label class="control-label" for="inputWarning"> Email:</label> <span th:text="${player.email}"></span><br/>


							<label class="control-label" for="inputSuccess"> Street:</label> <span th:text="${player.street}"></span><br/>

							<label class="control-label" for="inputWarning"> Number:</label> <span th:text="${player.number}"></span><br/>

							<label class="control-label" for="inputError"> Zip code:</label> <span th:text="${player.zipCode}"></span><br/>

							<label class="control-label" for="inputSuccess"> city:</label> <span th:text="${player.city}"></span><br/>

							<label class="control-label" for="inputSuccess"> Country:</label> <span th:if="${player.country}" th:text="${player.country.countryName}"></span><br/>
							
						</div>
						
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<div class="pull-right">
								
									<a th:href="@{/player/{id}(id=${player.id})}" class="btn btn-info">
										<i class="fa fa-eraser"></i> Edit
									</a>
									<a class="btn btn-danger" th:attr="data-url=@{/player/{id}(id=${player.id})}, 
													data-objeto=${player.name}">
											<i class="fa fa-save"></i> Delete
									</a>
								</div>
							</div>
							<!-- /.box-footer -->
							<div class="col-sm-12">
							<div class="aw-graph-box">
								<div class="aw-graph-box__header">
									<h3>stats <small></small></h3>
								</div>
								<div class="aw-graph-box__content">
									<div class="aw-graph-box__no-data">
										<i class="fa  fa-line-chart  fa-2x"></i>
										<span>Não há dados</span>
									</div>
									<div>
										<canvas id="playerStats" height="160"></canvas>
									</div>
								</div>
							</div>
						</div>
						</div>
						<!-- /. box -->
					</div>
				</div>
			

		</section>

	</div>
</body>

</html>
