<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/patternLayout}">
<head></head>

<body class="skin-blue">
	<div class="wrapper">
		<section class="content" layout:fragment="content">
			<form th:object="${athlete}" method="post">
				<div class="row">
					<div class="col-md-9">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">New Athlete</h3>
							</div>
							<!-- /.box-header -->

							<div class="box-body">

								<!-- input states -->
								<div class="form-group col-sm-12">
									<h2>
										<i class="fa fa-info-circle"></i> Personal information
									</h2>
								</div>
								<div class="form-group /has-success col-sm-12">

									<label class="control-label" for="inputSuccess"><i
										class="fa fa-user"></i> Name:</label> <input type="text"
										th:field="*{name}" class="form-control" id="inputSuccess"
										placeholder="João" />
								</div>

								<div class="form-group /has-error col-sm-12">
									<label class="control-label" for="inputWarning"><i
										class="fa fa-user"></i> Surname:</label> <input type="text"
										th:field="*{surname}" class="form-control" id="inputWarning"
										placeholder="Kiakumbo" />
								</div>

								<div class="form-group col-sm-3">
									<label class="control-label" for="inputError"><i
										class="fa fa-male"></i> Gender:</label> <select id="inputError"
										class="form-control" th:field="*{gender}">
										<option value="">Select gender</option>
										<option th:each="gender : ${genders}" th:value="${gender}"
											th:text="${gender.description}"></option>
									</select>
								</div>

								<div class="form-group col-sm-5">
									<label class="control-label" for="inputSuccess"><i
										class="fa fa-map-marker"></i> Nacionality:</label> <input type="text"
										th:field="*{nacionality}" class="form-control"
										id="inputSuccess" placeholder="Angolan" />
								</div>

								<div class="form-group  col-sm-4">
									<label class="control-label" for="inputSuccess"><i
										class="fa fa-calendar"></i> Date of Born:</label>
									<div class="input-group date form_date "
										data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
										<span class="input-group-addon"><span
											class="glyphicon glyphicon-th"></span> </span> <input
											class="form-control" size="16" type="text"
											th:field="*{dateOfBorn}" placeholder="09-11-1995" />
									</div>
								</div>

								<div class="form-group col-sm-6">
									<label class="control-label" for="inputError"><i
										class="fa fa-credit-card"></i> Document type:</label> <input
										type="text" th:field="*{documentType}" class="form-control"
										id="inputError" placeholder="Passaport" />
								</div>

								<div class="form-group col-sm-6">
									<label class="control-label" for="inputSuccess"><i
										class="fa fa-keyboard-o"></i> Document number:</label> <input
										type="text" th:field="*{documentNumber}" class="form-control"
										id="inputSuccess" placeholder="N1136645" />
								</div>


								<div class="form-group col-sm-12">
									<h2>
										<i class="fa fa-envelope-o"></i> Contact
									</h2>
								</div>


								<div class="form-group  col-sm-4">
									<label class="control-label" for="phone"><i
										class="fa fa-phone"></i> Phone:</label> <input type="text"
										class="form-control phone" id="phone"
										th:value="*{phoneNumber}" /> <input id="hiddenPhone"
										type="hidden" th:field="*{phoneNumber}">
								</div>

								<div class="form-group  col-sm-4">
									<label class="control-label" for="cellPhone"><i
										class="fa fa-mobile"></i> Cell phone:</label> <input type="text"
										class="form-control phone" id="cellPhone"
										th:value="*{cellPhoneNumber}" /> <input id="hiddenCellPhone"
										type="hidden" th:field="*{cellPhoneNumber}">
								</div>

								<div class="form-group col-sm-4">
									<label class="control-label" for="inputWarning"><i
										class="fa fa-envelope"></i> Email:</label> <input type="text"
										th:field="*{email}" class="form-control" id="inputWarning"
										placeholder="kiakumbo.9@sgestor.pl" />
								</div>

								<div class="form-group col-sm-12">
									<h2>
										<i class="fa fa-home"></i> Adress
									</h2>
								</div>

								<div class="form-group /has-success col-sm-6">

									<label class="control-label" for="inputSuccess"><i
										class="fa fa-road"></i> Street:</label> <input type="text"
										th:field="*{street}" class="form-control" id="inputSuccess"
										placeholder="Wittiga" />
								</div>

								<div class="form-group /has-error col-sm-6">
									<label class="control-label" for="inputWarning"><i
										class="fa fa-sort-numeric-asc"></i> Number:</label> <input type="text"
										th:field="*{number}" class="form-control" id="inputWarning"
										placeholder="4" />
								</div>

								<div class="form-group col-sm-3">
									<label class="control-label" for="inputError"><i
										class="fa fa-archive"></i> Zip code:</label> <input type="text"
										th:field="*{zipCode}" class="form-control" id="inputError"
										placeholder="51-628" />
								</div>

								<div class="form-group col-sm-4">
									<label class="control-label" for="inputSuccess"><i
										class="fa fa-building-o"></i> city:</label> <input type="text"
										th:field="*{city}" class="form-control" id="inputSuccess"
										placeholder="Wroclaw" />
								</div>

								<div class="form-group col-sm-5">
									<label class="control-label" for="inputSuccess"><i
										class="fa fa-flag"></i> Country:</label> <select class="form-control"
										id="inputSuccess" th:field="*{country}">
										<option value="" label="Select a country … "
											selected="selected">Select a country …       </option>
										<option th:each="iso_3166 : ${ISO_3166}"
											th:value="${iso_3166}" th:text="${iso_3166.countryName}">Algeria</option>
									</select>
								</div>

								<div class="form-group col-sm-12">
									<h2>
										<i class="fa fa-info-circle"></i> Sport information
									</h2>
								</div>

								<div class="form-group  col-sm-6">
									<label class="control-label" for="inputSuccess"><i
										class="fa fa-dribbble"></i> Activity:</label>
									<div class="sg-field-action">
										<select id="estilo" class="form-control"
											th:field="*{activity}">
											<option value="">Select or add activity</option>
											<option th:each="activity : ${activities}"
												th:value="${activity.id}" th:text=${activity.name}>Football</option>

										</select>

										<div class="sg-field-action__icon">
											<a href="#" data-toggle="modal"
												data-target="#addActivityModal"> <i
												class="glyphicon  glyphicon-plus-sign  sg-glyphicon-large"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="control-label" for="inputWarning"><i
										class="fa fa-users"></i> Group level:</label>
									<div class="sg-field-action">
										<select id="estilo" class="form-control"
											th:field="*{groupLevel}">
											<option value="">Select or add group level</option>
											<option th:each="groupLevel : ${groupsLevel}"
												th:value="${groupLevel.id}" th:text="${groupLevel.name}">U-19</option>

										</select>

										<div class="sg-field-action__icon">
											<a href="#" data-toggle="modal"
												data-target="#modalCadastroRapidoEstilo"> <i
												class="glyphicon  glyphicon-plus-sign  sg-glyphicon-large"></i>
											</a>
										</div>
									</div>

								</div>

								<div class="form-group col-sm-12">
									<h2>
										<i class="fa fa-pencil-square-o"></i> Contract
									</h2>
								</div>

								<div class="form-group  col-sm-12">
									<label class="control-label" for="inputSuccess"><i
										class="fa fa-calendar"></i> Contract end at:</label>
									<div class="input-group date form_date "
										data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
										<span class="input-group-addon"><span
											class="glyphicon glyphicon-th"></span> </span> <input
											class="form-control" size="16" type="text"
											th:field="*{contractEnd}" placeholder="31-08-2019" />
									</div>
								</div>

							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<div class="pull-right">
									<button class="btn btn-default">
										<i class="fa fa-eraser"></i> Clean
									</button>
									<button type="submit" class="btn btn-primary">
										<i class="fa fa-save"></i> Save
									</button>
								</div>
								<button class="btn btn-default">
									<i class="fa fa-times"></i> Close
								</button>
							</div>
							<!-- /.box-footer -->
						</div>
						<!-- /. box -->
					</div>
					<div class="col-md-3">
						<div class="box box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">Photo</h3>
							</div>
							<div class="box-body">
								<div class="row">
									<div class="form-group  col-sm-12">
										<div th:if="not *{photo}" class="js-container-person-photo">
											<div id="upload-drop" class="bw-upload">
												<i class="glyphicon  glyphicon-cloud-upload"></i> <span>drop
													a photo here or </span> <a class="bw-upload-form-file">select
													one <input id="upload-select" type="file"
													accept=".jpg,.jpeg,.png" /> <input type="hidden"
													th:field="*{photo}" /> <input type="hidden"
													th:field="*{contentType}" />
												</a>
											</div>
										</div>

										<div th:if="*{photo}" class="row  js-person-photo">
											<div class="col-sm-12"></div>
											<div class="col-sm-12  text-center">
												<a href="#" class="thumbnail"> <img
													th:src="@{/photos/temp/}+*{photo}"></img>
												</a>
												<button type="button" class="btn  btn-link  js-remove-photo">
													<span class="glyphicon  glyphicon-remove"></span>
												</button>
											</div>
											<div class="col-sm-12"></div>
										</div>

									</div>
								</div>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /. box -->
					</div>
				</div>
			</form>

			<div th:replace="group_level/add_group_level_modal :: modal"></div>
			<div th:replace="activity/add_activity_modal :: modal"></div>
		</section>

	</div>
</body>

</html>
