<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/patternLayout}">
<head></head>

<body class="skin-blue">
	<div class="content-wrapper">
		<section class="content" layout:fragment="content">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Data Tables <small>Ranking</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Tables</a></li>
					<li class="active">Data tables</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Goals score</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body table-responsive">
								<table id="dataTable"
									class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>Photo</th>
											<th>Player</th>
											<th>Main position</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
											
										<tr th:each="player : ${players}">
											
											<td><img
												th:if="${player.photo}"
												th:src="@{/photos/} + ${player.photo}"
												class="img-circle sg-img-in-table" /> <img
												th:unless="${player.photo}"
												th:src="@{/dist/img/avatar5.png}"
												class="img-circle sg-img-in-table" alt="User Image" /></td>
										
											<td th:text="|${player.name} ${player.surname}|"></td>

											<td th:text="${player.position}"></td>

											<td th:text="${player.total}"></td>
											
										</tr>
									</tbody>
									<tfoot>
										
									</tfoot>
								</table>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
			
		</section>

	</div>

</body>

</html>
